@Model SignalRSQLAdmin.Web.Areas.SignalRSQLAdmin.Models.TableModel
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="@Url.Content("~/Content/images/avatarDefault.png")" class="img-circle" alt="User Image" />
        </div>
        <div class="pull-left info">
            <p>Hello User</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search..." />
            <span class="input-group-btn">
                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="treeview active">
            <a href="#">
                <i class="fa fa-table"></i> <span>Tables</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                @foreach (var t in Model)
                {
                    //var activeTable = (t.Name == ViewBag.TableName) ? "active" : "";
                    <li class="table-selector"><a href="#"><i class="fa fa-angle-double-right"></i> <span class="table-name" data-name="@t.Name">@t.Name</span></a></li>
                }
            </ul>
        </li>
        <li style="text-align :center;margin-top: 8px;"><button class="btn btn-primary btn-sm " data-toggle="modal" data-target="#formTable">CREATE TABLE</button></li>
    </ul>
</section>
<!-- /.sidebar -->