@{
    Layout = null;
}
<script>

    
    $(function () {
        var baseValueForm = $('#valueFormBase').clone().attr('id','');
        $("#buttonAddValue").click(function () {
            var newBaseValueForm = baseValueForm.clone();
            newBaseValueForm.insertBefore('#buttonAddValue');
        });
        $('#formTable').on('hidden.bs.modal', function () {
            $('#errorModalMessage').html('');
        })
    });
</script>
<div class="modal fade" id="formTable" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Create a new Table</h4>
            </div>
            <div class="modal-body">
                <div id="errorModalMessage"></div>
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Table Name</label>
                            <input type="text" class="form-control" id="formTableName" placeholder="">
                        </div>
                        <label for="">Values</label>
                        <div class="form-group valueForm" id="valueFormBase">
                            <div class="form-inline">
                                Name:
                                <input type="text" class="form-control input-small" id="formValueName" name="formValueName" placeholder="Name">
                                Type:
                                <select class="form-control input-small" id="formValueType" name="formValueType">
                                    @foreach (var t in ViewBag.listOfTypes)
                                    {
                                        <option>@t</option>
                                    }
                                </select>
                                IsNull:
                                <input type="checkbox" style="" id="formIsNull" name="formIsNull">
                                Primary Key:
                                <input type="checkbox" style="" id="formIsPrimary" name="formIsPrimary">
                            </div>
                         </div>
                        <button type="button" class="btn btn-default" id="buttonAddValue">Add Value</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="buttonSubmitForm">Save changes</button>
            </div>
        </div>
    </div>
</div>
